@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

header {
  background: #507c91;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15),
    0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
}
header h2 {
  margin: 0;
  padding: 0;
}

.right {
  display: flex;
}

.add-holder,
.logout-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: 48px;
  padding-top: 2px;
  cursor: pointer;
}

main {
  height: calc(100vh - 60px - 48px - 18px);
  margin: 16px;
}

.login-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: inherit;
}

.login-container {
  display: flex;
  flex-direction: column;
  padding: 36px 48px;
  border: #a1a1a1 1px solid;
  border-radius: 4px;
}

.add-dialog {
  border: 1px solid #424242;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 25%), 0 2px 2px rgb(0 0 0 / 20%), 0 4px 4px rgb(0 0 0 / 15%),
    0 8px 8px rgb(0 0 0 / 10%), 0 16px 16px rgb(0 0 0 / 5%);
}

dialog::backdrop {
  background: rgba(75, 75, 75, 0.2);
  backdrop-filter: blur(1px);
}

.dialog-container_content {
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
}

.dialog-container_content h3 {
  margin-top: 0;
}

.dialog-container_content form {
  display: contents;
}

.dialog-container_buttons {
  display: flex;
  justify-content: space-between;
}

label {
  padding: 0 12px 12px 0;
  display: inline-block;
}

input {
  width: calc(100% - 16px);
  padding: 12px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

button {
  background-color: #37474f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button.close {
  background-color: #ff5983;
  color: #000;
}

.chart-holder {
  height: inherit;
  margin: 16px 48px;
}
.chart-container {
  position: relative;
  margin: auto;
  height: inherit;
  width: 90vw;
  overflow: auto;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #507c91;
  height: 48px;
}

footer a {
  margin-left: 6px;
}

.footer-anchor {
  display: flex;
  height: 34px;
  text-decoration: none;
  color: #fff;
  outline: none;
}
.footer-anchor:hover,
.footer-anchor:focus {
  text-decoration: underline;
  cursor: pointer;
}
.footer-anchor:visited {
  color: #fff;
}
.footer-icon {
  margin-left: 8px;
  margin-right: 12px;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}
